<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Get the Best Odds on Your Video Poker Session</h1>
    <br />
    <h2>Pick Your Game, Get Your Holds!</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>