<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Get the Best Odds on Your Video Poker Session</h1>
    <br />
    <h2>Pick Your Game, Get Your Holds!</h2>
    <br />
    <br /><br />
  </div>
</div>
  <br />
<div class="feature row text-center">
  <div class="col-12 col-sm">
    <h3><a href="odds">Study the Odds</a></h3>
  </div>

  <div class="col-12 col-sm">
    <h3><a href="#">Choose Your Game and Go Live</a></h3>
  </div>

  <div class="col-12 col-sm">
    <h3><a href="#">Find a Game</a></h3>
  </div>
</div>