<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Get the Best Odds on Your Video Poker Session</h1>
    <br />
    <h2>Pick Your Game, Get Your Holds!</h2>
    <br />
    <br /><br />
  </div>
</div>
  <br />
<div class="feature row text-center">
  <div class="section col-12 col-sm">
    <h3 class="btn btn-success"><a href="odds">Study the Odds</a></h3>
    <p>Find up which games have the best odds before you play!</p>
  </div>

  <div class="section col-12 col-sm">
    <h3 class="btn btn-success"><a href="#">Choose Your Game and Go Live</a></h3>
    <p>Ready to play? Choose your game here!</p>
  </div>

  <div class=" section col-12 col-sm">
    <h3 class="btn btn-success"><a href="#">Find a Game</a></h3>
    <p>Find which casinos near you have the game you want!</p>
  </div>
</div>
  <div id="footer">
      <div class="container">
        <br />
        <a href="#">Email Support</a>
      </div>
    </div>
