<div class="odds_list col-10 offset-1">
  <ul>
    <li><a href="#">Full Pay Jacks or Better</a></li>
    <br />
    <li><a href="#">Full Pay Deuces Wild</a></li>
    <br />
    <li><a href="#">Full Pay Deuces Wild</a></li>
    <br />
  </ul>
</div>